.div1_loginpage {
border-radius: 15px;
    border-style: solid;
    padding: 15px;
}

.inputfield1 {
    min-width: 50%;
    margin-bottom: 6px;
}

.inputfield2 {
    min-width: 50%;
    margin-bottom: 24px;
}

.inputfield {
    max-width: 100%;
    min-width: 70%;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    background-color: #F7B538;
}

.button_div {
    margin-bottom: 20px;
}

.registerlink{

}
