.div1_loginpage {
    border-radius: 15px;
    border-style: solid;
    padding: 15px;
}

.title_loginpage {
    font-size: xxx-large;
    margin-bottom: 15px;
}

.inputfield1_login {
    min-width: 50%;
    margin-bottom: 6px;
}

.inputfield2_login {
    min-width: 50%;
    margin-bottom: 15px;
}

.inputfield {
    max-width: 100%;
    min-width: 70%;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    background-color: #F7B538;
}

.button_div {
    margin-bottom: 20px;
}

.registerlink_text {
    color: cornflowerblue;
}
