.div1_registerpage {
    min-width: 400px;
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
}

.title_registerpage{
    margin-bottom: 15px;
    font-size: xxx-large;
}

.inputfield1 {
    min-width: 50%;
    margin-bottom: 6px;
}

.inputfield2 {
    min-width: 50%;
    margin-bottom: 15px;
}

.inputfield {
    max-width: 100%;
    min-width: 70%;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    background-color: #F7B538;
}

.button_div {
    margin-bottom: 20px;
}

.registerlink{

}
