label {
    font-size: x-large;
    font-weight: bold;
}

.div1 {
    font-family: Copperplate;
    color: #F7B538;
}

.modal {
    font-family: Copperplate;
    color: black;
}

.inputfield_{
background-color: #F7B538;
}

.label_inputfield1 {
    margin-bottom: 10px;
}

.showmetherank{
    margin-bottom: 40px;
}