.div1 {
    font-family: "Arial Black";
    color: #F7B538;
    border-style: solid;
    border-radius: 15px;
    padding: 5%;
}

.modal {
    font-family: "Arial Black";
    color: black;
}

.modalheader {
    background-color: #780116;
    color: #F7B538;
}

.modalbody {
    background-color: #780116;
    color: black;
}

.save_player_name{
    font-family: "Arial Black";
    color: #F7B538;
    margin-bottom: 5px;
    text-align: center;
}

.modalfooter {
    background-color: #780116;
    color: black;
}

.btn-warning {
margin-bottom: 10px;
}

.btn-warning {
    margin-left: 5.5%;
    margin-right: 5.5%;
}

.list {
    padding: 0px;
}

hr {
    height: 3px;
    background-color: #F7B538;
    color: #F7B538;
}

.inputfield_ {
    margin-bottom: 10px;
}

.save_player_name_a {
    margin-right: 5px;
    font-family: "Arial Black";
    color: #F7B538;
    font-weight: bold;
}


