body {
    font-family: Copperplate;
    color: #F7B538;
}

.modalbody_compare {
    background-color: #780116;
    color: #F7B538;
}

.hint{
    font-family: Copperplate;
    color: #F7B538;
    font-weight: normal;
}

.title_compare{
    font-size: xx-large;
    font-weight: bold;
}

.list1{
    border-style: outset;
    border-radius: 15px;
    border-width: 2px;
    padding: 10px;
    margin-right: 10px;
}

.list2{
    border-style: outset;
    border-radius: 15px;
    border-width: 2px;
    padding: 10px;
}

.ul_compare{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0px;
}

h5{
    font-family: Copperplate;
    font-weight: bold;
    color: aquamarine;
}

p{
    font-family: Arial;
    font-style: italic;
}

.l1{
    color: aquamarine;
}

.h2_compare{
    margin-bottom: 0px;
}

.inputfield_container1 {
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 15px;
}

.inputfield_container2 {
    border-style: solid;
    border-radius: 15px;
}

.inputfield_container1_inside{
    margin: 8px;
}

.inputfield_container2_inside{
    margin: 8px;
}